<mat-toolbar id="header-tool-bar" color="primary">
  <mat-toolbar-row>
    <div class="container">
      <div id="mobileMenu"><mat-icon>reorder</mat-icon></div>
      <div id="headder-menu-icon-holder"> <img alt="Angular Logo" src="../assets/rbs-logo.JPG"></div>
      <div id="headder-menu-list">
        <span class="header-font">Hotels</span>
        <span class="header-font">Holidays</span>
        <span class="header-font">Flights</span>
        <span class="header-font">Cruises</span>
        <span class="header-font">Extras</span>
        <span class="header-font">City Breaks</span>
        <span class="header-font">Car Hire</span>
        <span class="header-spacer"></span>
      </div>
      <div id="my-account-link-holder">
        <div id="my-account-link" [matMenuTriggerFor]="accountMenu" class="display-inline-flex">
          <mat-icon class="header-icon">account_circle</mat-icon>
          <span class="header-font">My Account</span>
        </div>
        <mat-menu #accountMenu="matMenu">
          <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Disable alerts</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>settings_system_daydream</mat-icon>
            <span>Settings</span>
          </button>
          <button mat-menu-item>
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>