<div mat-dialog-title class="guest-mobile-header">
  <div class="clearfix">
    <h3 class="choose-guest primary-color">Choose Guest</h3>
    <i style="float:right" (click)="closeDialog()" class="material-icons">close</i>
  </div>
</div>
<div mat-dialog-content class="guest-mobile-content">
  <div class="room-container" *ngFor="let room of rooms">
    <h4 class="room-name primary-color">{{room.roomName}}</h4>
    <div class="guest-item" *ngFor="let guest of room.guests">
      <div class="clearfix">
        <h4 class="choose-guest primary-color">{{guest.type}}</h4>
        <div style="float:right">
          <i class="counter-icons" (click)="onDecrementCounter(guest)">remove_circle</i>
          <strong class="counter">{{guest.total}}</strong>
          <i class="counter-icons" (click)="onIncrementCounter(guest)">add_circle</i>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="guest-mobile-footer">
  <h4 class="add-room" (click)="addRoom()">Add Room</h4>
  <div mat-dialog-actions class="done">Done</div>
</div>