@import '../../../constants/colors.scss';


.select-button{
    display: inline-flex;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
    border: 1px solid $dark-grey-warm;
    cursor: pointer;
    color: $dark-grey-warm;
    .button-icon{
        color:$light-blue;
        margin-top: 2px;
    }
    span{
        margin-top: 5px;
        margin-right: 10px;
        margin-left: 10px;
    }
}
