<div id="home-footer-container">
    <!-- <mat-grid-list [cols]="breakpoint" (window:resize)="onResize($event)">
        <mat-grid-tile colspan="1"><b>Packages</b></mat-grid-tile>
        <mat-grid-tile aria-rowspan="3"><b>Couiese</b></mat-grid-tile>
        <mat-grid-tile><b>Hotels</b></mat-grid-tile>
        <mat-grid-tile><b>City Breaks</b></mat-grid-tile>
        <mat-grid-tile><b>Flights</b></mat-grid-tile>
        <mat-grid-tile><b>Extras</b></mat-grid-tile>
    </mat-grid-list> -->
    <div class="container">
        <div class="columns">
            <div class="heading">Packages</div>
            <div class="sub-heading">Majorca</div>
            <div class="sub-heading">Tenerife</div>
            <div class="sub-heading">Algarve</div>
        </div>
        <div class="columns">
            <div class="heading">Couiese</div>
            <div class="sub-heading">P&O Cruise</div>
            <div class="sub-heading">Royal Caribbean</div>
            <div class="sub-heading">Cunard</div>
        </div>
        <div class="columns">
            <div class="heading">Hotels</div>
            <div class="sub-heading">New York</div>
            <div class="sub-heading">Dubai</div>
            <div class="sub-heading">Amsterdam</div>
        </div>
        <div class="columns">
            <div class="heading">City Breaks</div>
            <div class="sub-heading">Barcelona</div>
            <div class="sub-heading">Amsterdam</div>
            <div class="sub-heading">Prague</div>
        </div>
        <div class="columns">
            <div class="heading">Flights</div>
            <div class="sub-heading">Flights</div>
            <div class="sub-heading">Lounges</div>
            <div class="sub-heading">Packing</div>
        </div>
        <div class="columns">
            <div class="heading">Extras</div>
            <div class="sub-heading">Car Hire</div>
            <div class="sub-heading">Parking </div>
            <div class="sub-heading">Attractios</div>
        </div>
    </div>
        <div class="otherMenu">
            <div class="phone">0800 000 000 </div>
            <div class="subMenu">Terms of use </div>
            <div class="subMenu">Privacy & cookies policy </div>
            <div class="subMenu">Booking terms & conditions </div>
            <div class="subMenu">Manage booking </div>
            <div class="subMenu">Financial Protection </div>
            <div class="subMenu">Avis Advice Travel </div>
        </div>
        <div class="fulltext">
            <div class="mainText">It is a long established fact that a reader will be distracted by the readable content
                of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
                distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
                Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and
                a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved
                over the years, sometimes by accident, sometimes on purpose (injected humour and the like).

            </div>
            <div class="logoText">dsadsad</div>
        </div>
    </div>