@import '../../../constants/colors.scss';
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'), 
         local('Roboto-Regular'), 
         url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff) 
         format('woff');
  }
#home-footer-container{
    background:  $dark-primary;
    color:#fff;
    font-family:'Roboto',"Helvetica Neue",sans-serif;
.columns{
  text-align: left;
  }
.heading{font-weight: 200;  margin: 10px; font-size: 19px;}
.sub-heading{  padding:10px;  font-size: 12px;}
.mainText{
  text-align: left;
  font-size: 10px;
  }

.otherMenu{display: flex;
   // flex-wrap: nowrap;
   padding:45px 0px 10px} 
.phone{//flex:2.5;
    font-size:30px;}
.subMenu{font-size:11px;padding-top: 12px;padding-left:25px;}
 }