<mat-card class="hotel-card">
  <img class="cover-image" src="assets/dehradun_landing_page.jpg">
  <div class="hotel-information-holder">
      <div>
         <div  class="display-inline-flex stars-holder"> 
            <i class="material-icons">
                star_rate
            </i>
            <i class="material-icons">
                star_rate
            </i>
            <i class="material-icons">
                star_rate
            </i>
            <i class="material-icons">
                star_rate
            </i>
            <i class="material-icons">
                star_rate
            </i>
         </div>
          <div class="night-count display-inline-block">
            5 nights
          </div>
      </div>
      <div>hotel name</div>
      <div>Hotel address</div>
      <div>Rooms from</div>
      <div>$100,00</div>
  </div>
  <div class="text-align-center">
      <button mat-button class="button-teal-color">Select</button>
  </div>
</mat-card>