.guest-list-item {
    margin-bottom: 12px;
}
  
.guest-list-item-caption {
    float: left;
    margin-right: 30px;
}

.guest-list-counter-container {
    float: right;
}
   
.guest-text-small {
    font-size: 13px;
}


