<div id="advanced-search-container">
  <mat-card>
    
    <div>

      <div class="advanced-search-row text-align-left">
          <div class="display-inline-block">
              <app-select-button bsDaterangepicker  buttonText="{{checkInDateText}}" middleIcon="arrow_forward" secondText="{{checkOutDateText}}"></app-select-button>
              <input type="text" id="advanced-search-date" class="form-control" #dp="bsDaterangepicker" [(ngModel)]="rangeValue"
               (ngModelChange)="getFormatedDate()" bsDaterangepicker [bsValue]="bsValue">
            </div>
         <div class="dropdown display-inline-block border-left-select-input">
            <app-select-button (click)="onSelectGuest()" buttonText="Guests(Adult, Childer, Infants)" leftIcon="group" [rightIcon] ="showGuestDropdown ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"></app-select-button>
            <div class="dropdown-content" *ngIf="showGuestDropdown">
              <app-guest-desktop (clearValues)="clearGuest()">
                <app-guest *ngFor="let guest of guests" [title]="guest.title" [subTitle]="guest.subTitle">
                  <app-counter [(count)]="guest.total"></app-counter>
                </app-guest>
              </app-guest-desktop>
            </div>
         </div>
         <div class="dropdown display-inline-block border-left-select-input">
            <app-select-button (click)="onSelectRoom()"  buttonText="Rooms" [rightIcon]="showRoomDropdown ? 'keyboard_arrow_up' : 'keyboard_arrow_down'"></app-select-button>
            <div class="dropdown-content" *ngIf="showRoomDropdown">
              <app-guest-desktop (clearValues)="clearRoom()">
                <div style="margin-left: 10px; margin-right: 10px">
                  <app-counter [(count)]="rooms"></app-counter>
                </div>
              </app-guest-desktop>
            </div>
          </div>
      </div>

      <div class="advanced-search-row text-align-left">
      <div id="advanced-search-bottom-inputs">
        <div class="display-inline-block">
            <app-select-button (click)="onSelectCity()" buttonText="Spain" rightIcon="keyboard_arrow_down"></app-select-button>
        </div>
       <div class="display-inline-block border-left-select-input">
          <app-select-button (click)="onSelectCity()" buttonText="Marca" rightIcon="keyboard_arrow_down"></app-select-button>
       </div>
       <div class="display-inline-block border-left-select-input">
          <app-select-button (click)="onSelectCity()" buttonText="Any" rightIcon="keyboard_arrow_down"></app-select-button>
       </div>
      </div>
      <div id="advanced-search-bottom-button">
        <button mat-button class="button-teal-color">Find Hotel</button>
      </div>
    </div>
    </div>
  </mat-card>
</div>