#advanced-search-container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

#advanced-search-bottom-inputs{
    width: 70%;
    text-align: left;
    display: inline-block;
}
#advanced-search-bottom-button{
    width: 26%;
    text-align: right;
    padding-right: 20px;
    display: inline-block;
}

.border-left-select-input{
    margin-left: 20px;
}